<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" ng-app="aprendizagem">
<head lang="pt">
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="aprendizagem.js"></script>
    <script src="jquery-adicional.js"></script>
    <title>Sistemas de Informação 1 - Obrigado</title>
</head>
<body ng-controller="aprendizagemListCtrl">
    <div class="container"><br>
        <div class="alert alert-success" role="alert" id="successPanel">
            <button type="button" class="close" id="close1"><span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>
            <p><big><b>Obrigado por se cadastrar na disciplina!</b></big></p>
        </div>

        <img class="center-block" src="http://i.stack.imgur.com/hqIXH.png"><br>

        <div class="alert alert-warning" role="alert" id="warningPanel">
            <button type="button" class="close" id="close2"><span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span></button>
            <p>Clique em cima do tema para mudá-lo de coluna.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="panel-title">Temas a aprender:
                                <span class="text-primary">{{ qtdAprender }}</span></h3>
                            </div>
                            <div class="col-md-5">
                                <span class="text-warning" id="removerAprender" ng-click="removerAprender()">Remover
                                    todos</span>
                                <span> | </span>
                                <span class="text-warning" id="showHide1">Exibir / Ocultar</span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group" id="aprenderList">
                        <li class="list-group-item" ng-repeat="item in aprender track by $index">
                            <span ng-click="mudaTema(item)">{{ item.tema }}</span>
                            <button type="button" class="close" ng-click="removeTema(item)">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="panel-title">Temas aprendidos:
                                    <span class="text-primary">{{ qtdAprendidos }}</span></h3>
                            </div>
                            <div class="col-md-5">
                                <span class="text-warning" id="removerAprendidos"
                                      ng-click="removerAprendidos()">Remover todos</span>
                                <span> | </span>
                                <span class="text-warning" id="showHide2">Exibir / Ocultar</span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group" id="aprendidosList">
                        <li class="list-group-item" ng-repeat="item in aprendidos track by $index">
                            <span ng-click="mudaTema(item)">{{ item.tema }}</span>
                            <button type="button" class="close" ng-click="removeTema(item)">
                                <span aria-hidden="true" >&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row panel panel-default panel-body">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label>Adicionar tema:</label>
                    <input type="text" class="form-control" id="temaTxt" ng-model="newTema">
                </div>

                <div class="col-md-3">
                    <form id="temaForm">
                        <label>Selecione a coluna:</label>
                        <div class="radio">
                            <label><input type="radio" ng-model="coluna" name="coluna" value="aprender" checked> Tema a
                                aprender</label><br>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="coluna" name="coluna" value="aprendido">Tema
                                aprendido</label>
                        </div>
                        <div class="btn btn-primary" id="adicionar" ng-click="addTema()">Adicionar</div>
                    </form>
                </div>
            </div>
        </div>

        <br><a href="index.html">Voltar à página inicial</a>

    </div>
</body>
</html>
